.orderNumber {
    font-size: 30px;
    color: #000000;
}

/* .status {
    display: inline;
} */

.order-info {
   color: #262626;     
}

.order-list-cli-list-item {
    border-radius: 20px;
    padding: 0 !important;
    width: 100%;
    outline:0;
    /* text-decoration: none; */
}

.order-list-cli-list-item:hover {
    background: #0073e6;
    text-decoration: none;
}


.arrow {
    color: #99b3ff;
    font-size: 35px;
}
