.background {
    background: #d9d9d9;
    padding-top:55px;
    height: 100vh;
}

.productImage {
    box-shadow: 10px 10px 5px rgb(136, 133, 133);   
    border: 2px solid rgb(37, 36, 36);
    object-fit: fill;
    margin-left: 15px;
}


.product-description {
    text-align: justify;
    background: #f2f2f2;
    border-radius: 10px;
    padding: 15px;
}

h1 {
    font-weight: bold;
}

.product-page-label {
    font-weight: bold;
    font-size: 22px;
}

.material-icons {
    vertical-align: middle;
}

.remove-prod-btn {
    font-weight: bold;
    font-size:15px;
}