.prod-page-background {
    background: #99b3ff;
    padding-top: 10vh;
    height: 91vh;
    padding-bottom: 20px;
}

.productImage {
    box-shadow: 10px 10px 5px rgb(136, 133, 133);   
    border: 2px solid rgb(37, 36, 36);
}

.prod-page-padding {
    padding-bottom: 50px;
}


.product-description {
    width: 100%;
    text-align: justify;
    background: #f2f2f2;
    border-radius: 10px;
    padding: 15px;
}

.prod-page-prod-name {
    font-weight: bold;
    font-size: 60px;
}

.product-page-label {
    font-weight: bold;
    font-size: 22px;
}

.material-icons {
    vertical-align: middle;
}

.remove-prod-btn {
    font-weight: bold;
    font-size:25px;
}

.product-id-seller {
    font-size: 20px;
}

.prod-details-div {
    background: #ccd9ff;
    padding:50px;
    border-radius: 30px;
}

.update-details-btn {
    font-size: 20px;
    font-weight: bold;
}