.background {
    background: #d9d9d9;
    padding-top: 15px;
}

.productImage {
    box-shadow: 10px 10px 5px rgb(136, 133, 133);   
    border: 2px solid rgb(37, 36, 36);
    object-fit: fill;
    margin-left: 15px;
}

.detail {
    background: #9b9291;
    border: 1px solid #ffffff;
}

.rateTitle {
    font-size: 30px;
}

.totalRate {
    font-size: 60px;
    font-weight: bold;
}

.cart-icon {
    color: #ffffff;
    margin: 0.5px;
}

.addToCart {
    font-size: 15px;
    font-weight: bold;
}

.addToFav {
    font-size: 15px;
    font-weight: bold;
}

.product-description {
    text-align: justify;
    background: #f2f2f2;
    border-radius: 10px;
    padding: 15px;
}

h1 {
    font-weight: bold;
}

.product-page-label {
    font-weight: bold;
}