.background {
    background: #ffffff;
}

.productImage {
    box-shadow: 10px 10px 5px rgb(136, 133, 133);   
    border: 2px solid rgb(37, 36, 36);
    object-fit: fill;
}

.detail {
    background: #9b9291;
    border: 1px solid #ffffff;
}

.rateTitle {
    font-size: 30px;
}

.totalRate {
    font-size: 60px;
}

.cart-icon {
    color: #ffffff;
    margin: 0.5px;
}

.addToCart {
    position:absolute;
    top:0;
    right:15px;
}

p {
    text-align: justify;
}