.prod-page-background {
    background: #99b3ff;
    padding-top: 10vh;
    height: 91vh;
}

.productImage {
    box-shadow: 10px 10px 5px rgb(136, 133, 133);   
    border: 2px solid rgb(37, 36, 36);

}

.detail {
    background: #9b9291;
    border: 1px solid #ffffff;
}

.rateTitle {
    font-size: 30px;
}

.totalRate {
    font-size: 60px;
    font-weight: bold;
}

.cart-icon {
    color: #ffffff;
    margin: 0.5px;
}

.addToCart {
    font-size: 25px;
    font-weight: bold;
}

.addToFav {
    font-size: 25px;
    font-weight: bold;
}

.product-description {
    text-align: justify;
    background: #f2f2f2;
    border-radius: 10px;
    padding: 15px;
    width: 95% !important;
}

.prod-page-prod-name {
    font-weight: bold;
    font-size: 60px;
}

.product-page-label {
    font-weight: bold;
    font-size: 20px;
}

.product-page-label-val {
    font-size: 20px;
}

.prod-details-div {
    background: #ccd9ff;
    padding:50px;
    border-radius: 30px;
}

.product-page-muted {
    font-size: 15px;
}