.background-div {
    height: 142vh;
    width: 100vw;
    background: #999999;
    padding-top: 5vh !important;
}

.tab-container {
    width: 60vw;
    left: 20vw;
    right: 20vw;
    top: 5vh;
    background: #999999;
}

.nav-item {
    width: 30vw;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff !important;
    border: 1px solid #ffffff;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #d9d9d9;
}