.signup-page {
    background: #ccd9ff;
    width: 60vw;
    padding-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
}

.signupLabelText {
    font-size: 15px;
    font-weight: bold;
}

.bordered-section {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 15px;
}

.section-header {
    font-size: 20px;
    font-weight: bold;
    padding-left: 1vh;
}

.asterisk {
    color: red;
}

.button {
    font-weight: bold;
    font-size: 20px;
    borer-radius: 20px;
}