.edit-profile-top-bar {
    font-size: 40px;
    background: #bfbfbf;
    color: #262626;
    font-weight: bold;
    border-bottom: 2px double #000000;
}

i {
    vertical-align: middle;
    font-size: 10px;
}

.saveText {
    font-size: 30px;
    font-weight: bold;
}

.labelText {
    font-weight: bold;
    font-size: 18px;
}

/* .edit-profile-top-btn {
    position: absolute;
    top:10px;
    right: 31px;
} */