.card {
    width: 30.5%;
    background: #b3d9ff;
}

.card-header-prod {
    background-color: #ccd9ff;
    /* color: #b3d9ff !important;  */
    font-weight: bold !important;
    font-size: 40px;
}

.media {
    padding-top: 15px;
    text-align: center;
    background-color: #ccd9ff;
}
.prodImage {
    width:100%;
    height: 37vh;
    border: 1px solid #0c0d0e
}

.card-content {
    background-color: #ccd9ff;
    height:200px;
    overflow-y: scroll;
}

.card-actions {
    background-color: #ffffff;
}

/* .card-content {
     height: 9vw; 
} */

.totalAmt {
    font-size: 40px;
}