.orderNumber {
    font-size: 30px;
    color: #000000;
}

/* .status {
    display: inline;
} */

.order-info {
   color: #262626;     
}

.list-item {
    padding-right:0 !important;
    padding-left:0 !important;
    border-radius:0px !important;
    outline: 0 !important;
}

.order-list-item-main {
    padding: 0 !important;
    width: 100%;
    outline:0;
    /* text-decoration: none; */
}

.order-list-item-main :hover {
    background: #b3b3b3;
    text-decoration: none;
}

.order-list-item-main a :active {
    background: #b3b3b3;
}


.arrow {
    color: #f2f2f2;
    font-size: 35px;
}
