.card {
    width: 30.5%;
}

.media {
    padding-top: 15px;
    text-align: center;
    background-color: #ccd9ff;
}

.cart-card-content {
    background-color: #ccd9ff;
}

.card-header-cart {
    background-color: #ccd9ff;
    /* color: #b3d9ff !important;  */
    font-weight: bold !important;
    font-size: 40px;
}

.cart-cart-actions {
    background-color: #ffffff;
}

.prodImage {
    width:100%;
    height: 37vh;
    border: 1px solid #0c0d0e
}

.totalAmount {
    font-size: 40px;
    font-weight: bold;
}

hr {
    margin-top:0;
    margin-bottom: 0;
}

.cart-text {
    font-size: 20px;
}