.add-icon{
    vertical-align: top;
}

.add-icon-text {
    font-size:20px;
    font-weight:bold;
}
.add-product-btn {
    margin-top: 20px;
    /* margin-right: 100px; */
}

.product-list-page-seller {
    background: #99b3ff;
}