.add-product-page {
    background: #d9d9d9;
    height: 87vh;
}

.add-product-form-class {
    /* margin-top: 10px; */
    padding-top: 40px;
}

.prodLabelText {
    font-size: 17px;
    font-weight: bold;
}

.add-product-img-card {
    height:70vh;
}

.add-product-cardheader {
    text-align: center;
    vertical-align: center;
}

.add-product-cardmedia {
    text-align: center;
    height:70%;
}

.img-not {
    font-size: 30px;
}

.btn {
    vertical-align: middle;
}