.add-product-page {
    background: #d9d9d9;
    height:88vh;
    padding-top: 15vh;
    padding-bottom: 8vh;
}

.add-product-form-class {
    /* margin-top: 10px; */
    padding-top: 20px;
}

.prodLabelText {
    font-size: 17px;
    font-weight: bold;
}

.add-image-div {
    padding-top:10vh;
}

.add-product-img-card {
    height:15vh;
}

.add-product-cardheader {
    text-align: center;
    vertical-align: center;
}

.add-product-cardmedia {
    text-align: center;
    height:70%;
}

.img-not {
    font-size: 30px;
}

.btn {
    vertical-align: middle;
}

.add-product-save {
    font-size: 20px;
    font-weight: bold;
}