.cart-top-bar {
    background: #f6ef98;
    padding-bottom: 7px;
    /* height: 11vh; */
}

.checkoutButton {
    font-weight: bold;
    /* vertical-align: top; */
}

.amountPayable {
    font-size:30px;
    font-weight: bold;
}

.totalAmount {
    font-size: 40px;
    font-weight: bold;
}

.cart-list-page {
    background:#99b3ff;
    height: 91vh;
    overflow-y: scroll;
    padding: 30px;
    padding-left: 60px;
}