.top-bar {
    background: #dadad5;
    /* height: 11vh; */
}

.checkoutButton {
    font-weight: bold;
    background-color: #000000;
    /* vertical-align: top; */
}

.amountPayable {
    font-size:30px;
    font-weight: bold;
}

.totalAmount {
    font-size: 40px;
    font-weight: bold;
}