.orgName-div-req {
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    padding:20px;
    background: #66b3ff;
    text-align: center;
}

.order-total {
    font-size: 50px;
    font-weight: bold;
}

.arrow-req {
    vertical-align: bottom;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}


.arrow-div {
    padding-top: 10px;
}

.orders-list-full-page {
    padding-top:20px;
    height: 91vh;
    background: #99b3ff;
}

.order-list-item-full {
    background: #ccd9ff;
    padding: 20px;
    border-radius: 20px;
}

.order-list-item-full a{
    text-decoration: none;
    color: #bfbfbf !important;
    outline: 0;
}

.order-list-item-full a :hover {
    text-decoration: none;
    color: #4d4d4d !important;
}

.ordered-on-text {
    font-size: 15px;
}

.req-order-list-item:link {
    text-decoration: none;
}

.req-order-list-item:hover {
    text-decoration: none;
    transform: scale(1.2,1.2);
    color: #000000;
}

.order-list-item-full:hover {
    transform: scale(1.1,1.05);
    color: #000000;
}