.login-page {
    background: #ccd9ff;
    padding-bottom: 50px;
    padding-top: 30px;
    width: 60vw;
    border-radius: 20px;
}

.loginLabelText {
    font-size: 20px;
    font-weight: bold;
}

.button {
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
}