.background-div {
    width: 100vw;
    background: #99b3ff;
    padding-top: 5vh !important;
}

.tab-container {
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 2vh;
    background: #ffffff;
    padding: 0px !important;
    border-radius: 20px;
    outline: 0 !important;
    /* font-size: 30px; */
}

.swipe-tabs {
    width: 62vw;
    margin-left:18.7vw;
    margin-right: 19.3vw !important;
    padding:0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: left;
    border-radius: 30px;
}

.tab-container-swipe {
    padding: 0px !important;
}

.tab-label {
    font-size: 30px;
    font-weight: bold;
}