.background-div {
    height: 160vh;
    width: 100vw;
    background: #999999;
    padding-top: 5vh !important;
}

.tab-container {
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 2vh;
    background: #ffffff;
    padding: 0px !important;
}

.swipe-tabs {
    width: 62vw;
    margin-left:18.3vw;
    margin-right: 19.7vw !important;
    padding:0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: left;
}

.tab-container-swipe {
    padding: 0px !important;
}